nav {
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
      bordeR: 0;
      font-size: 4rem;
      height: 18%;
      background: #666;
      color: white;
    }
}

